# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
main.js
dist
src/diff-lib/node_modules
src/diff-lib/dist-diff

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store
yarn.lock
